#display p{
    float: left;
    margin-right: 10px;
}
#display{
    margin-top: 40px;
    margin-bottom: 30px;
}
.box{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    float: left;
}
.board{
    width: 252px;
    
}